<footer id="footer">
    <section id="layout">
        <div class="caja">
            <p style="display: flex; align-items: center;">
                <img src="./../../../assets/footer3.png" alt=""><span class="footer-text">Consumer</span></p>
            <p style="display: flex; align-items: center;">
                <mat-icon style="margin-right: 4px;">phone</mat-icon><span>Llámanos 600 320 3000</span></p>
        </div>
        <div class="caja">
            <p><a href="#">Nosotros</a></p>
            <p><a href="#">Atencion al Cliente</a></p>
        </div>
        <div class="caja">
            <p><a href="#">Politicas de seguridad uso del portal</a></p>
            <p><a href="#">Condiciones de contratación</a></p>
            <p><a href="#">Portabilidad financiera</a></p>
            <p></p>
            <p></p>
            <p><a href="#">Santander Consumer todos los derechos reservados &copy;</a></p>
        </div>
        <div class="caja-fondo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam dignissim turpis. Suspendisse potenti. Fusce a dapibus arcu. Nulla ut aliquet urna, et pulvinar libero. Maecenas rutrum purus a nulla vehicula fringilla. Pellentesque et
                varius justo. Integer gravida purus ut lectus consectetur interdum. Etiam ut diam feugiat, interdum dolor sed, facilisis orci.</p>
        </div>

    </section>
    <!-- <div class="fila1">
      Portafolio
  </div>
  <div class="fila2">
      Flexbox Petardo &copy;
  </div>
  <div class="fila2">
    Flexbox Petardo &copy;
</div> -->
</footer>
