<!-- <h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->

<div class="dialog">
    <div class="header-dialog">
        <div class="header-izq">
            <img src="../../../assets/info1.png" alt="info">
            <p>Detalles cupón de pago</p>
        </div>
        <div class="header-der">
            <mat-icon mat-dialog-close style="cursor: pointer;">close</mat-icon>
        </div>
    </div>
    <div class="body-dialog">
        <div class="body-data">
            <div class="body-izq">
                <p><strong>Cupón de pago</strong></p>
                <p>Válido hasta 01-12-2021</p>
                <br>
                <p><strong>Información del cliente</strong></p>
                <p><strong>Nombres</strong></p>
                <p><strong>RUT</strong></p>
                <p><strong>Operación Nº</strong></p>
                <p><strong>Cuota Nº</strong></p>
                <br>
                <p><strong>Información del pago</strong></p>
                <p><strong>Fecha de vencimiento</strong></p>
                <p><strong>Monto</strong></p>
                <p><strong>Lugar de pago</strong></p>
            </div>
            <div class="body-der">
                <p><strong>Nº 12345</strong></p>
                <br>
                <br>
                <br>
                <p>: Villanueva Gloria Marlene</p>
                <p>: 1847567-8</p>
                <p>: 1234567890000000</p>
                <p>: 1</p>
                <br>
                <br>
                <p>: 01-12-2021</p>
                <p>: $1.111.111,000</p>
                <p><strong>: Banco Santander</strong></p>
            </div>
        </div>

        <div class="body-footer">
            <p class="body-footer-info">
                (1) El pago se puede efectuar sólo hasta la fecha de vencimiento. Después de esta fecha, por favor comunicarse con nuestra línea <strong>600 6000 250</strong> o desde celular al <strong>56 2 2577 4190.</strong>
            </p>
            <p class="body-footer-emision">
                Fecha de emición: Viernes 01-12-2021
            </p>
        </div>

    </div>
    <div class="footer-dialog">
        <mat-icon>save_alt</mat-icon>
        <p>Descargar cupón de pago</p>
    </div>
</div>
