<div id="creditos">
    <div class="contextual-message">
        <mat-icon class="icon">info_outline</mat-icon>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="creditos">
        <mat-card class="header-creditos">
            <p>Créditos</p>
        </mat-card>
        <mat-card class="credito" [routerLink]="'detalle'">
            <div id="car-data-1">
                <p><strong>Toyota Rav4 2021</strong></p>
                <p>Patente: BB-BB 21</p>
                <p>Operación Nº: 0 00* ** *2345 6</p>
            </div>
            <div id="car-data-2">
                <p>Cuota 12/36</p>
                <p><strong>$299.900</strong></p>
            </div>
            <div id="car-data-3">
                <p>Fecha de vencimiento</p>
                <p><strong>01/09/2021</strong></p>
            </div>
            <div id="car-icon-detail">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </mat-card>
        <mat-card class="credito" [routerLink]="'detalle'">
            <div id="car-data-1">
                <p><strong>Toyota Rav4 2021</strong></p>
                <p>Patente: BB-BB 21</p>
                <p>Operación Nº: 0 00* ** *2345 6</p>
            </div>
            <div id="car-data-2">
                <p>Cuota 12/36</p>
                <p><strong>$299.900</strong></p>
            </div>
            <div id="car-data-3">
                <p>Fecha de vencimiento</p>
                <p><strong>01/09/2021</strong></p>
            </div>
            <div id="car-icon-detail">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </mat-card>
        <mat-card class="credito" [routerLink]="'detalle'">
            <div id="car-data-1">
                <p><strong>Toyota Rav4 2021</strong></p>
                <p>Patente: BB-BB 21</p>
                <p>Operación Nº: 0 00* ** *2345 6</p>
            </div>
            <div id="car-data-2">
                <p>Cuota 12/36</p>
                <p><strong>$299.900</strong></p>
            </div>
            <div id="car-data-3">
                <p>Fecha de vencimiento</p>
                <p><strong>01/09/2021</strong></p>
            </div>
            <div id="car-icon-detail">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </mat-card>
        <mat-card class="credito" [routerLink]="'detalle'">
            <div id="car-data-1">
                <p><strong>Toyota Rav4 2021</strong></p>
                <p>Patente: BB-BB 21</p>
                <p>Operación Nº: 0 00* ** *2345 6</p>
            </div>
            <div id="car-data-2">
                <p>Cuota 12/36</p>
                <p><strong>$299.900</strong></p>
            </div>
            <div id="car-data-3">
                <p>Fecha de vencimiento</p>
                <p><strong>01/09/2021</strong></p>
            </div>
            <div id="car-icon-detail">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </mat-card>
        <mat-card class="credito" [routerLink]="'detalle'">
            <div id="car-data-1">
                <p><strong>Toyota Rav4 2021</strong></p>
                <p>Patente: BB-BB 21</p>
                <p>Operación Nº: 0 00* ** *2345 6</p>
            </div>
            <div id="car-data-2">
                <p>Cuota 12/36</p>
                <p><strong>$299.900</strong></p>
            </div>
            <div id="car-data-3">
                <p>Fecha de vencimiento</p>
                <p><strong>01/09/2021</strong></p>
            </div>
            <div id="car-icon-detail">
                <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
            </div>
        </mat-card>
    </div>
</div>
